@import url("https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@100;200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  font-family: "Chivo Mono", sans-serif;
  /* background-color: "#F7F1EF"; */
}

.slide {
  opacity: 0;
  transition: opacity ease-in-out 0.5s;
}

.anim {
  opacity: 1;
}
